body{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
 }
 
body .navi {
   background-color: black;
   width: 100%;
   height: 64px;
}
body .navi .back {
   background-color: brown;
   left: 10px;
   top: 10px;
   width: 30px;
   height: 30px;
}
body .navi .title {
   background-color: azure;
   


}


body .content {
    background-color: azure;
    width: 100%;

}